<li class="list-group-item bg-secondary text-white">
  <div class="column">
    <div class="col">
      {{comment_text}}

    </div>
    <div class="col text-md-end text-warning">
      <p><small>Commented by
          {{user.name}}
          on
          {{format_date createdAt}}</small></p>
    </div>
  </div>

  <button
    data-comment-id="{{id}}"
    class="btn btn-danger btn-sm delete-comment"
  >Delete</button>

  <button
    type="button"
    class="btn btn-sm btn-warning edit-comment"
    data-bs-toggle="modal"
    data-bs-target="#edit-comment-modal"
    data-comment-id="{{id}}"
  >Edit</button>

</li>