<div class="container mt-4">
  <h1 class="mb-4">Latest Posts</h1>
  {{#each posts as |post|}}
    <div class="card mb-4">
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <a
              href="/post/{{id}}"
              target="_blank"
              class="post-title text-decoration-none fw-bold"
            >{{title}}</a>
          </div>

          <div class="col-md-6 text-md-end">
            <p><small>Posted by
                {{user.name}}
                on
                {{format_date createdAt}}</small></p>
          </div>
        </div>
      </div>

      <div class="card-body">
        <p>{{content}}</p>
      </div>

    </div>

  {{else}}
    <p>No posts available</p>
  {{/each}}
</div>